{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block title %} Mdp oublié {% endblock %}

{% block body %}
    <div class="for1">
        <h1>Enter your mail</h1>
        <form action="#" method="post">
            <input type="email" name="email" id="email" placeholder="Email Address" required>
            <input type="submit" name="connect" id="connect" value="SIGN IN">
        </form>
    </div>
{% endblock %}