{% extends "profil/profil.html.twig" %}
{% block section4 %}
        <h2 class="text-center my-5">Mes Adresses</h2>
    <div class="col-12 text-center foundation my-4">
        <h3 class="my-4">4 ALLEE BEAUSOLEIL</h3>
        <ul class="list-group col-md-12 foundation_sm">
            <li class="list-group-item">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <span>prokash600@gmail.com</span>
            </li>
            <li class="list-group-item">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>03 45 45 45 54</span>
            </li>
        </ul>
    </div>
    <div class="col-12 text-center foundation my-4">
        <h3 class="my-4">112 RUE GABRIEL DE MORTILLET</h3>
        <ul class="list-group col-md-12 foundation_sm">
            <li class="list-group-item">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <span>trucdu80@gmail.com</span>
            </li>
            <li class="list-group-item">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>03 12 12 12 18</span>
            </li>
        </ul>
    </div>
    <div class="col-12 text-center foundation my-4">
        <h3 class="my-4">436 Rue Saint Maurice</h3>
        <ul class="list-group col-md-12 foundation_sm">
            <li class="list-group-item">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <span>jojodel@gmail.com</span>
            </li>
            <li class="list-group-item">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>03 35 35 14 17</span>
            </li>
        </ul>
    </div>
{% endblock %}