{% extends "profil/profil.html.twig" %}
{% block section6 %}
    <h2 class="text-center my-5">My Payments</h2>
    <div class="panel-group">
        <div class="panel my-4">
            <div class="panel-heading">
                <a class="btn btn-dark w-100 h-100" data-toggle="collapse" href="#collapse1" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    <h3 class="text-center">Paiement #1</h3>
                </a>
            </div>
            <div class="panel-body">
                <div id="collapse1" class="collapse">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 my-4">
                                <address>
                                    <strong>Adresse:</strong>
                                    <span>4 ALLEE BEAUSOLEIL</span>
                                </address>
                                <address>
                                    <strong>Méthode de Paiement:</strong>
                                    <span>Visa ending **** 4242</span>

                                </address>
                                <address>
                                    <strong>Email:</strong>
                                    <span>prokash600@gmail.com</span>
                                </address>
                                <address>
                                    <strong>Date de Commande:</strong>
                                    <span>7 Décembre 2020</span>
                                </address>
                            </div>
                        </div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Produit</th>
                                <th>#</th>
                                <th class="text-center">Prix</th>
                                <th class="text-center">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-md-9"><em>Guitare</em></td>
                                <td class="col-md-1 text-center">1</td>
                                <td class="col-md-1 text-center">8€</td>
                                <td class="col-md-1 text-center">8€</td>
                            </tr>
                            <tr>
                                <td class="col-md-9"><em>Guitare</em></td>
                                <td class="col-md-1 text-center">1</td>
                                <td class="col-md-1 text-center">8€</td>
                                <td class="col-md-1 text-center">8€</td>
                            </tr>
                            <tr>
                                <td class="col-md-9"><em>Guitare</em></td>
                                <td class="col-md-1 text-center">1</td>
                                <td class="col-md-1 text-center">8€</td>
                                <td class="col-md-1 text-center">8€</td>
                            </tr>
                            <tr>
                                <td class="col-md-9"></td>
                                <td class="col-md-1"></td>
                                <td class="col-md-1 text-center"><strong>TOTAL</strong></td>
                                <td class="col-md-1 text-center"><strong>24€</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel my-4">
            <div class="panel-heading">
                <a class="btn btn-dark w-100 h-100" data-toggle="collapse" href="#collapse2" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    <h3 class="text-center">Paiement #2</h3>
                </a>
            </div>
            <div class="panel-body">
                <div id="collapse2" class="collapse">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 my-4">
                                <address>
                                    <strong>Adresse:</strong>
                                    <span>4 ALLEE BEAUSOLEIL</span>
                                </address>
                                <address>
                                    <strong>Méthode de Paiement:</strong>
                                    <span>Visa ending **** 4242</span>

                                </address>
                                <address>
                                    <strong>Email:</strong>
                                    <span>prokash600@gmail.com</span>
                                </address>
                                <address>
                                    <strong>Date de Commande:</strong>
                                    <span>7 Décembre 2020</span>
                                </address>
                            </div>
                        </div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Produit</th>
                                <th>#</th>
                                <th class="text-center">Prix</th>
                                <th class="text-center">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-md-9"><em>Guitare</em></td>
                                <td class="col-md-1 text-center">1</td>
                                <td class="col-md-1 text-center">8€</td>
                                <td class="col-md-1 text-center">8€</td>
                            </tr>
                            <tr>
                                <td class="col-md-9"><em>Guitare</em></td>
                                <td class="col-md-1 text-center">1</td>
                                <td class="col-md-1 text-center">8€</td>
                                <td class="col-md-1 text-center">8€</td>
                            </tr>
                            <tr>
                                <td class="col-md-9"><em>Guitare</em></td>
                                <td class="col-md-1 text-center">1</td>
                                <td class="col-md-1 text-center">8€</td>
                                <td class="col-md-1 text-center">8€</td>
                            </tr>
                            <tr>
                                <td class="col-md-9"></td>
                                <td class="col-md-1"></td>
                                <td class="col-md-1 text-center"><strong>TOTAL</strong></td>
                                <td class="col-md-1 text-center"><strong>24€</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}