{% extends "profil/profil.html.twig" %}
{% block section5 %}
    <h2 class="text-center my-5">Mes Factures</h2>
    <div class="panel-group">
        <div class="panel my-4">
            <div class="panel-heading">
                <a class="btn btn-dark w-100 h-100" data-toggle="collapse" href="#collapse1" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    <h3 class="text-center">Facture #35483</h3>
                </a>
            </div>
            <div class="panel-body">
                <div id="collapse1" class="collapse">
                    <div class="container">
                        <div class="row my-4">
                            <div class="col-12">
                                <address>
                                    <strong>Adresse:</strong>
                                    <span>4 ALLEE BEAUSOLEIL</span>
                                </address>
                            </div>
                            <div class="col-12">
                                <address>
                                    <strong>Méthode de Paiement:</strong>
                                    <span>Visa ending **** 4242</span>

                                </address>
                                <address>
                                    <strong>Email:</strong>
                                    <span>prokash600@gmail.com</span>
                                </address>
                                <address>
                                    <strong>Date de Commande:</strong>
                                    <span>7 Décembre 2020</span>
                                </address>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Résumé de la Facture</strong></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-condensed">
                                            <thead>
                                            <tr>
                                                <td><strong>Item</strong></td>
                                                <td class="text-center"><strong>Prix</strong></td>
                                                <td class="text-center"><strong>Quantité</strong></td>
                                                <td class="text-right"><strong>Total</strong></td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>BS-200</td>
                                                <td class="text-center">10.99</td>
                                                <td class="text-center">1</td>
                                                <td class="text-right">10.99€</td>
                                            </tr>
                                            <tr>
                                                <td>BS-400</td>
                                                <td class="text-center">20.00</td>
                                                <td class="text-center">3</td>
                                                <td class="text-right">60.00€</td>
                                            </tr>
                                            <tr>
                                                <td>BS-1000</td>
                                                <td class="text-center">600.00</td>
                                                <td class="text-center">1</td>
                                                <td class="text-right">600.00€</td>
                                            </tr>
                                            <tr>
                                                <td class="thick-line"></td>
                                                <td class="thick-line"></td>
                                                <td class="thick-line text-center"><strong>Sous-total</strong></td>
                                                <td class="thick-line text-right">670.99€</td>
                                            </tr>
                                            <tr>
                                                <td class="no-line"></td>
                                                <td class="no-line"></td>
                                                <td class="no-line text-center"><strong>Réductions</strong></td>
                                                <td class="no-line text-right">15.00€</td>
                                            </tr>
                                            <tr>
                                                <td class="no-line"></td>
                                                <td class="no-line"></td>
                                                <td class="no-line text-center"><strong>Total</strong></td>
                                                <td class="no-line text-right">655.99€</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel my-4">
            <div class="panel-heading">
                <a class="btn btn-dark w-100 h-100" data-toggle="collapse" href="#collapse2" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    <h3 class="text-center">Facture #14785</h3>
                </a>
            </div>
            <div class="panel-body">
                <div id="collapse2" class="collapse">
                    <div class="container">
                        <div class="row my-4">
                            <div class="col-12">
                                <address>
                                    <strong>Adresse:</strong>
                                    <span>4 ALLEE BEAUSOLEIL</span>
                                </address>
                            </div>
                            <div class="col-12">
                                <address>
                                    <strong>Méthode de Paiement:</strong>
                                    <span>Visa ending **** 4242</span>

                                </address>
                                <address>
                                    <strong>Email:</strong>
                                    <span>prokash600@gmail.com</span>
                                </address>
                                <address>
                                    <strong>Date de Commande:</strong>
                                    <span>7 Décembre 2020</span>
                                </address>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Résumé de la Facture</strong></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-condensed">
                                            <thead>
                                            <tr>
                                                <td><strong>Item</strong></td>
                                                <td class="text-center"><strong>Prix</strong></td>
                                                <td class="text-center"><strong>Quantité</strong></td>
                                                <td class="text-right"><strong>Total</strong></td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>BS-200</td>
                                                <td class="text-center">10.99</td>
                                                <td class="text-center">1</td>
                                                <td class="text-right">10.99€</td>
                                            </tr>
                                            <tr>
                                                <td>BS-400</td>
                                                <td class="text-center">20.00</td>
                                                <td class="text-center">3</td>
                                                <td class="text-right">60.00€</td>
                                            </tr>
                                            <tr>
                                                <td>BS-1000</td>
                                                <td class="text-center">600.00</td>
                                                <td class="text-center">1</td>
                                                <td class="text-right">600.00€</td>
                                            </tr>
                                            <tr>
                                                <td class="thick-line"></td>
                                                <td class="thick-line"></td>
                                                <td class="thick-line text-center"><strong>Sous-total</strong></td>
                                                <td class="thick-line text-right">670.99€</td>
                                            </tr>
                                            <tr>
                                                <td class="no-line"></td>
                                                <td class="no-line"></td>
                                                <td class="no-line text-center"><strong>Réductions</strong></td>
                                                <td class="no-line text-right">15.00€</td>
                                            </tr>
                                            <tr>
                                                <td class="no-line"></td>
                                                <td class="no-line"></td>
                                                <td class="no-line text-center"><strong>Total</strong></td>
                                                <td class="no-line text-right">655.99€</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel my-4">
            <div class="panel-heading">
                <a class="btn btn-dark w-100 h-100" data-toggle="collapse" href="#collapse3" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    <h3 class="text-center">Facture #20480</h3>
                </a>
            </div>
            <div class="panel-body">
                <div id="collapse3" class="collapse">
                    <div class="container">
                        <div class="row my-4">
                            <div class="col-12">
                                <address>
                                    <strong>Adresse:</strong>
                                    <span>4 ALLEE BEAUSOLEIL</span>
                                </address>
                            </div>
                            <div class="col-12">
                                <address>
                                    <strong>Méthode de Paiement:</strong>
                                    <span>Visa ending **** 4242</span>

                                </address>
                                <address>
                                    <strong>Email:</strong>
                                    <span>prokash600@gmail.com</span>
                                </address>
                                <address>
                                    <strong>Date de Commande:</strong>
                                    <span>7 Décembre 2020</span>
                                </address>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Résumé de la Facture</strong></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-condensed">
                                            <thead>
                                            <tr>
                                                <td><strong>Item</strong></td>
                                                <td class="text-center"><strong>Prix</strong></td>
                                                <td class="text-center"><strong>Quantité</strong></td>
                                                <td class="text-right"><strong>Total</strong></td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>BS-200</td>
                                                <td class="text-center">10.99</td>
                                                <td class="text-center">1</td>
                                                <td class="text-right">10.99€</td>
                                            </tr>
                                            <tr>
                                                <td>BS-400</td>
                                                <td class="text-center">20.00</td>
                                                <td class="text-center">3</td>
                                                <td class="text-right">60.00€</td>
                                            </tr>
                                            <tr>
                                                <td>BS-1000</td>
                                                <td class="text-center">600.00</td>
                                                <td class="text-center">1</td>
                                                <td class="text-right">600.00€</td>
                                            </tr>
                                            <tr>
                                                <td class="thick-line"></td>
                                                <td class="thick-line"></td>
                                                <td class="thick-line text-center"><strong>Sous-total</strong></td>
                                                <td class="thick-line text-right">670.99€</td>
                                            </tr>
                                            <tr>
                                                <td class="no-line"></td>
                                                <td class="no-line"></td>
                                                <td class="no-line text-center"><strong>Réductions</strong></td>
                                                <td class="no-line text-right">15.00€</td>
                                            </tr>
                                            <tr>
                                                <td class="no-line"></td>
                                                <td class="no-line"></td>
                                                <td class="no-line text-center"><strong>Total</strong></td>
                                                <td class="no-line text-right">655.99€</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}