{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block title %} Home page {% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <p>Première page avec les test</p>

{% endblock %}





