{% extends "profil/profil.html.twig" %}
{% block update1 %}
<h1 class="col-12 text-center my-5">Modifier mon profil</h1>
<form action="" method="post">
    <div class="form-group col-6 mx-auto">
        <div class="my-4">
            <input class="form-control form-control-lg" type="text" placeholder="Nom">
        </div>
        <div class="my-4">
            <input class="form-control form-control-lg" type="text" placeholder="Prénom">
        </div>
        <div class="my-4">
            <input class="form-control form-control-lg" type="text" placeholder="Mot de passe">
        </div>
        <div class="my-4">
            <input class="form-control form-control-lg" type="text" placeholder="Email">
        </div>
        <div class="my-4">
            <input class="form-control form-control-lg" type="text" placeholder="Daite de naissance">
        </div>
        <div class="my-4">
            <input class="form-control form-control-lg" type="text" placeholder="Adresse">
        </div>
        <div class="my-4">
            <input class="form-control form-control-lg" type="text" placeholder="Ville">
        </div>
        <div class="my-4">
            <input class="form-control form-control-lg" type="text" placeholder="Code Postal">
        </div>
        <div class="my-4">
            <input class="form-control form-control-lg" type="text" placeholder="Pays">
        </div>
    </div>
    <div class="col-4 mx-auto">
        <button class="btn btn-primary w-100 h-100" type="submit">Modifier</button>
    </div>
</form>
{% endblock %}